# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build outputs
*.test
*.out
hello

# Output of `go build` or custom build dirs
/bin/
/build/
/dist/

# IDE/editor files
.vscode/
.idea/
*.swp
*~
